<div class="container-fluid bg-fundo">

    <!--NavBar-->
    <nav class="navbar navbar-expand-lg navbar-light ">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
            aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="conteudoNavbarSuportado">

            <div class="m-2">
                <button id="btnLogin" type="button" class="btn btnMenu" data-toggle="modal" data-target="#modalEntrar">
                    Entre
                </button>
            </div>

            <div>
                <button id="btnCadastrar" type="button" class="btn border-light btnMenu shadow-sm" data-toggle="modal"
                    data-target="#modalCadastrar">
                    Cadastre-se
                </button>
            </div>

        </div>
    </nav>
    <!--/NavBar-->

    <!-- Modais -->

    <!-- ModalEntrar -->
    <div class="modal fade" id="modalEntrar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog cx-1" role="document">
            <div class="modal-content formato">
                <div class="modal-header d-flex justify-content-center">
                    <img src="../../assets/img/favicon.png" width="30px" height="30px">
                    <h3 class="modal-title ml-auto fs-title text-secondary" id="exampleModalLabel">Seja bem-vinde!</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="mt-2" action="" method="post" name="login">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">@</div>
                                </div>
                                <input [(ngModel)]='userLogin.username' type="text" name="username" class="form-control"
                                    id="username" required #loginUsername="ngModel" placeholder="Usuário">
                            </div>
                            <!-- Alerta de preenchimento do formulario -->
                            <div *ngIf="loginUsername.invalid && (loginUsername.dirty || loginUsername.touched)"
                                class="alert">
                                <small class="text-danger" *ngIf="loginUsername.errors?.required">
                                    O campo "Usuário" é obrigatório.
                                </small>
                            </div>
                            <!-- /Alerta de preenchimento do formulario -->
                        </div>
                        <div class="form-group">
                            <input [(ngModel)]='userLogin.senha' type="password" name="senha" id="senha"
                                class="form-control" required #loginSenha="ngModel" placeholder="Senha">
                            <!-- Alerta de preenchimento do formulario -->
                            <div *ngIf="loginSenha.invalid && (loginSenha.dirty || loginSenha.touched)" class="alert">
                                <small class="text-danger" *ngIf="loginSenha.errors?.required">
                                    O campo "Senha" é obrigatório.
                                </small>
                            </div>
                            <!-- /Alerta de preenchimento do formulario -->
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-auto">
                                <a data-toggle="modal" data-target="#modalCadastrar" class="text-center">
                                    Criar conta
                                </a>
                            </div>
                            <div class="col-md-auto ml-auto">
                                <button (click)='entrar()' type="submit" class="btn btn-primary tr-y" id="btn-entrar"
                                    data-dismiss="modal">Entrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /ModalEntrar -->

    <!-- ModalCadastrar -->
    <div class="modal fade" id="modalCadastrar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog cx-2" role="document">
            <div class="modal-content formato">
                <div class="modal-header">
                    <img src="../../assets/img/favicon.png" width="35px" height="35px">
                    <h3 class="modal-title ml-auto fs-title text-secondary" id="exampleModalLabel">Inscreva-se</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>

                <div class="modal-body">
                    <form class="mt-2" action="" method="post" name="login">
                        <div class="form-group">
                            <input [(ngModel)]='user.nome' type="text" name="senha" id="senha" class="form-control"
                                required #nome="ngModel" placeholder="Nome completo">
                            <!-- Alerta de preenchimento do formulario -->
                            <div *ngIf="nome.invalid && (nome.dirty || nome.touched)" class="alert">
                                <small class="text-danger" *ngIf="nome.errors?.required">
                                    O campo "Nome" é obrigatório.
                                </small>
                            </div>
                            <!-- /Alerta de preenchimento do formulario -->
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">@</div>
                                </div>
                                <input [(ngModel)]='user.username' type="text" name="username" class="form-control"
                                    id="username" required #username="ngModel" placeholder="Usuário">
                            </div>
                            <!-- Alerta de preenchimento do formulario -->
                            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert">
                                <small class="text-danger" *ngIf="username.errors?.required">
                                    O campo "Usuário" é obrigatório.
                                </small>
                            </div>
                            <!-- /Alerta de preenchimento do formulario -->
                        </div>
                        <div class="form-group">
                            <input [(ngModel)]='user.email' type="email" name="email" id="email" class="form-control"
                                required #email="ngModel" placeholder="Email">
                            <!-- Alerta de preenchimento do formulario -->
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
                                <small class="text-danger" *ngIf="email.errors?.required">
                                    Campo "Email" é obrigatório.
                                </small>
                            </div>
                            <!-- /Alerta de preenchimento do formulario -->
                        </div>
                        <div class="form-group">
                            <input [(ngModel)]='user.senha' (input)='tipoUser($event)' type="password" name="senha"
                                id="senha" class="form-control" required #senha="ngModel" placeholder="Senha">
                            <!-- Alerta de preenchimento do formulario -->
                            <div *ngIf="senha.invalid && (senha.dirty || senha.touched)" class="alert">
                                <small class="text-danger" *ngIf="senha.errors?.required">
                                    O campo "Senha" é obrigatório.
                                </small>
                            </div>
                            <!-- /Alerta de preenchimento do formulario -->
                        </div>
                        <div class="form-group">
                            <input (input)='confirmaSenha($event)' type="password" name="ConfSenha" id="ConfSenha"
                                class="form-control" placeholder="Confirmar senha">
                        </div>
                    </form>
                </div>
                <div class="d-none">
                    <input [(ngModel)]='user.foto' type="password" name="ConfSenha" id="ConfSenha" class="form-control"
                        placeholder="Confirmar senha">
                </div>
                <div class="modal-footer">
                    <div class="col">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-auto ml-auto">
                                <button (click)='cadastrar()' type="submit" class="btn btn-primary" id="btn-cadastrar"
                                    data-dismiss="modal">Confirmar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /ModalCadastrar -->
    <!-- /Modais -->

    <!-- Primera tela -->
    <div class="container-fluid">
        <div class="row align-items-center">

            <!-- NOME, LOGO, IMAGEM -->
            <div class="col-md">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-auto">
                        <h1 class="ftNome">FREEGUNITY</h1>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-auto">
                        <hr class="my-0" color="white">
                        <h4 class="ftLogo">A rede que faz bem à vida de alguém</h4>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <p><a href=""><img src="assets/img/favicon-white.png" alt="imagem da rede" width="200px"
                                height="200px" class="img-fluid"></a></p>
                </div>
            </div>
        </div>
        <!-- /NOME, LOGO, IMAGEM -->
        <!-- Botão visitante -->
        <div class="posbtnVisit">
            <a class="btn btnVisit border-light shadow-sm mb-5 m-5" href="#" role="button">Entre
                como visitante</a>
        </div>

        <!-- /Botão visitante -->
    </div>
    <!-- Primera tela -->
</div>

<hr>

<!--DEV TEAM SPACE -->
<div class="container-fluid tm">
    <div class="row">
        <div class="col-md alend">
            <div class="card media">
                <div class="icon">
                    <img src="../assets/img/maicc.jfif" width="100px">
                </div>
                <div class="content">
                    <h2>Dev Team</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit cupiditate quis magnam cum,
                        officiis nostrum eaque fugit hic asperiores perspiciatis consequuntur dolore error, voluptates
                        inventore?.</p>
                </div>
            </div>
        </div>
        <div class="col-md alend">
            <div class="card media">
                <div class="icon"><img src="../assets/img/jotape2.jfif" width="100px"></div>
                <div class="content">
                    <h2>Dev Team</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit cupiditate quis magnam cum,
                        officiis nostrum eaque fugit hic asperiores perspiciatis consequuntur dolore error, voluptates
                        inventore?.</p>
                </div>
            </div>
        </div>
        <div class="col-md alend">
            <div class="card media">
                <div class="icon"><img src="../assets/img/aninha1.jfif" width="100px"></div>
                <div class="content">
                    <h2>Dev Team</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit cupiditate quis magnam cum,
                        officiis nostrum eaque fugit hic asperiores perspiciatis consequuntur dolore error, voluptates
                        inventore?.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-between">
        <div class="col-md alend">
            <div class="card media mr-5">
                <div class="icon"><img src="../assets/img/pam1.jfif" width="100px"></div>
                <div class="content">
                    <h2>Dev Team</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit cupiditate quis magnam cum,
                        officiis nostrum eaque fugit hic asperiores perspiciatis consequuntur dolore error, voluptates
                        inventore?.</p>
                </div>
            </div>
        </div>
        <div class="col-md alend">
            <div class="card media">
                <div class="icon"><img src="../assets/img/kid.jpg" width="100px"></div>
                <div class="content">
                    <h2>Dev Team</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit cupiditate quis magnam cum,
                        officiis nostrum eaque fugit hic asperiores perspiciatis consequuntur dolore error, voluptates
                        inventore?.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/DEV TEAM SPACE-->

<!--Footer-->
<div class="container-fluid ft">
    <footer class="footer">
        <div class="row">
            <div class="footer-col ml">
                <h4>Sobre nós</h4>

                <p class="justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste aperiam at vero
                    deserunt corrupti est eveniet id, perferendis laudantium quasi.</p>


            </div>
            <div class="footer-col">
                <h4>eae fio</h4>
                <ul>
                    <li><a href="#">sobre</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Privacidade</a></li>
                    <li><a href="#">Termos & Condições</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contatos</h4>
                <ul>
                    <li><a href="#">4002-8922</a></li>
                    <li><a href="#">4002-8922</a></li>
                    <li><a href="https://th.bing.com/th/id/OIP.dh-VlFFdaC_KcR3aXB6YQwHaDt?pid=ImgDet&rs=1">4002-8922</a>
                    </li>
                    <li><a href="#">4002-8922</a></li>
                </ul>
            </div>

            <div class="footer-col">
                <h4>eae fio</h4>
                <div class="social-links">
                    <a href="#"><i class="fas fa-map-marker-alt"></i></a>

                </div>
            </div>
        </div>
    </footer>
</div>