<div class="container-fluid bg-fundo">

    <!--NavBar-->
    <nav class="navbar navbar-expand-lg navbar-light ">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
            aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="conteudoNavbarSuportado">

            <div class="m-2">
                <button type="button" class="btn btnMenu" data-toggle="modal" data-target="#modalEntrar">
                    Entre
                </button>
            </div>

            <div class="">
                <button type="button" class="btn border-light btnMenu shadow-sm" data-toggle="modal"
                    data-target="#modalCadastrar">
                    Cadastre-se
                </button>
            </div>

        </div>
    </nav>
    <!--/NavBar-->

    <!-- Modais -->

    <!-- ModalEntrar -->
    <div class="modal fade" id="modalEntrar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog cx-1" role="document">
            <div class="modal-content formato">
                <div class="modal-header d-flex justify-content-center">
                    <img src="../../assets/img/favicon.png" width="30px" height="30px">
                    <h3 class="modal-title ml-auto fs-title text-secondary" id="exampleModalLabel">Seja bem-vinde!</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="mt-2" action="" method="post" name="login">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <!--<div class="input-group-text">@</div>-->
                                </div>
                                <input type="text" name="username" class="form-control" id="username"
                                    placeholder="Usuario">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" name="senha" id="senha" class="form-control" placeholder="Senha">
                            <small class="text-center pt-2"><a routerLink="" class="" id="signup">Esqueceu a
                                    senha?</a></small>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <div class="col">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-auto">
                                <p class="text-center pt-2 tr-y"><a data-toggle="modal" data-target="#modalCadastrar"
                                        class="">Criar conta</a></p>
                            </div>
                            <div class="col-md-auto ml-auto">
                                <button type="submit" class="btn btn-primary tr-y" id="btn-entrar">Entrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /ModalEntrar -->

    <!-- ModalCadastrar -->
    <div class="modal fade" id="modalCadastrar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog cx-2" role="document">
            <div class="modal-content formato">

                <div class="modal-header">
                    <img src="../../assets/img/favicon.png" width="35px" height="35px">
                    <h3 class="modal-title ml-auto fs-title text-secondary" id="exampleModalLabel">Inscreva-se</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">

                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>

                <div class="modal-body">
                    <form class="mt-2" action="" method="post" name="login">
                        <div class="form-group">
                            <input type="password" name="senha" id="senha" class="form-control"
                                placeholder="Nome completo">
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">@</div>
                                </div>
                                <input type="text" name="username" class="form-control" id="username"
                                    placeholder="Usuario">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="password" name="senha" id="senha" class="form-control" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="password" name="senha" id="senha" class="form-control" placeholder="Senha">
                        </div>
                        <div class="form-group">
                            <input type="password" name="senha" id="senha" class="form-control"
                                placeholder="Confirmar senha">
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <div class="col">
                        <div class="row d-flex align-items-center">
                            <div class="col-md-auto ml-auto">
                                <button type="submit" class="btn btn-primary tr-y" id="btn-cadastrar">Confirmar</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /ModalCadastrar -->
    <!-- /Modais -->

    <div class="container-fluid">
        <div class="row d-flex algin-items-center">
            <!-- Botão visitante -->
            <div class="col-md-4">
                <div class="col-md-12">
                    <div class="row posbtnVisit">
                        <a class="btn btnVisit border-light shadow-sm mb-5 m-5" href="#" role="button">Entre
                            como visitante</a>
                    </div>
                </div>
            </div>
            <!-- /Botão visitante -->
            <!-- Frase Inicial -->
            <div class="col-md-8">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8">
                        <h1 class="ftNome">FREEGUNITY</h1>
                        <hr class="my-1" color="white">
                        <h4 class="ftLogo">A rede que faz bem à vida de alguém</h4>
                        <p class="d-flex justify-content-center"><a href=""><img src="assets/img/favicon-white.png" width="200px" height="200px"></a></p>
                    </div>
                </div>
            </div>
            <!-- /Frase Inicial -->
        </div>
    </div>
</div>