<div class="container-fluid">
    <div class="row">
        <!--Card perfil do usuário-->
        <div class="col-3 d-flex justify-content-center cardUser">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <!--Nome do Usuário Ts-->
                    <img class="imagemUsuario" src="/assets/img/kid.jpg" alt="Thiago Machado">
                    <h5 class="card-title">Thiago Machado</h5>
                    <h6 class="card-subtitle mb-2 text-muted"><a href="#">Editar perfil</a></h6>
                    <p class="sobreMim">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, deleniti!
                    </p>

                </div>
            </div>
        </div>
        <!--Formulário de Envio-->
        <div class="col-7">
            <div class="newPost d-flex justify-content-start">
                <div class="infoUser">
                    <!--IMG DO USUÁRIO TS-->
                    <div class="imgUser"></div>
                    <!--NOME DO USUÁRIO TS-->
                    <strong class="usuario">Thiago Machado</strong>
                </div>
                <form action="" class="formPost">
                    <textarea name="textarea" placeholder="no que você está pensando?"></textarea>
                    <div class="iconsAndButton">
                        <div class="icons">
                            <button class="btnFileForm"><i class="fa fa-picture-o" aria-hidden="true"></i></button>
                            <button class="btnFileForm"><i class="fa fa-video-camera" aria-hidden="true"></i></button>
                        </div>
                        <button class="btnSubmitForm" type="submit">Publicar</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="row d-flex justify-content-start">
        <div class="col-3">
        </div>
        <div class="col-7">
            <!--Todas as postagens da rede-->
            <ul class="posts">
                <li class="post">
                    <div class="infoUserPost">
                        <div class="imgUserPost"></div>
                        <div class="nomeAndHour">
                            <strong class="userAll text-black">{{ user }}</strong>
                            <p class="horaPostada">21h</p>
                        </div>
                    </div>
                    <p class="postagemGhost">oi</p>
                    <div class="actionBtnPost">
                        <button type="button" class="filesPost curtir"><i class="fa fa-heart sz"
                                aria-hidden="true"></i><strong>Curtir</strong></button>
                        <button type="button" class="filesPost comentar"><i class="fa fa-comments sz"
                                aria-hidden="true"></i><strong>Comentar</strong></button>
                        <button type="button" class="filesPost compartilhar"><i class="fa fa-share-alt-square sz"
                                aria-hidden="true"></i><strong>Compartilhar</strong></button>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>  