<div class="container-fluid">
    <div class="row">
        <!--Card perfil do usuário-->
        <div class="col-3 ml-3 cardUser">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <!--Nome do Usuário Ts-->
                    <div class="text-center">
                        <a [routerLink]="['/user', idUser]">
                            <img src="{{ icon() }}" width="100" class="rounded-circle mt-3">
                        </a>
                        <!-- <h5 class="card-title">{{ user }}</h5> -->
                        <h5 class="card-title">{{ user.nome }}</h5>
                        <span class="fs-11 text-center text-muted">@{{ user.username }}</span><br>
                        <p class="sobreMim p-3 text-justify">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id quisquam assumenda
                            exercitationem nesciunt laudantium consectetur repellendus ex, praesentium deleniti eos
                            consequatur quaerat. Tempore, fuga. lorem100
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--Formulário de Envio-->
        <div class="col-7 ">
            <div class="newPost d-flex justify-content-start">
                <div class="infoUser">
                    <!--IMG DO USUÁRIO TS-->
                    <div class="imgUser"></div>
                    <!--NOME DO USUÁRIO TS-->
                    <strong class="usuario">Nome completo</strong>
                </div>
                <form action="" class="formPost">
                    <textarea name="textarea" placeholder="no que você está pensando?"></textarea>
                    <div class="iconsAndButton">
                        <div class="iconss">
                            <button class="btnFileForm"><i class="fa fa-picture-o" aria-hidden="true"></i></button>
                            <button class="btnFileForm"><i class="fa fa-video-camera" aria-hidden="true"></i></button>
                        </div>
                        <label class="temaName text-secondary">Tema:</label>
                        <select name="tema" id="tema" class="form-controll"></select>
                        <button class="btnSubmitForm" type="submit">Publicar</button>
                    </div>
                </form>
            </div>
            <hr>
            <div class="posts">
                <div class="post">
                    <div class="newPost d-flex justify-content-start">
                        <div class="infoUserPost">
                            <div class="imgUserPost"></div>
                            <div class="nomeAndHour">
                                <strong class="userAll text-black">Nome completo</strong>
                                <p class="horaPostada">21h</p>
                            </div>
                        </div>
                        <p class="postagemGhost">oi</p>
                        <div class="actionBtnPost">
                            <button type="button" class="filesPost curtir"><i class="fa fa-heart sz"
                                    aria-hidden="true"></i><strong>Curtir</strong></button>
                            <button type="button" class="filesPost comentar"><i class="fa fa-comments sz"
                                    aria-hidden="true"></i><strong>Comentar</strong></button>
                            <button type="button" class="filesPost compartilhar"><i class="fa fa-share-alt-square sz"
                                    aria-hidden="true"></i><strong>Compartilhar</strong></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>